@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Jason Towne's Jumpy Tarantula Stylesheet
   
   Filename: styles.css
*/

body {
  background-color: DarkBlue;
}

main {
  overflow: auto;
  position: relative;
  height: 450px;
  width: 100%;
  color: #ffffff;
}

header {
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

header h1 {
  color: red;
  text-align: center; 
}

main h2 {
  color: red;
  text-align: center;
}

.horizontalnavigation {
  display: flex;
  justify-content: center; 
}

.horizontalnavigation ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
}

.horizontalnavigation li {
  margin-right: 20px; 
}

.horizontalnavigation li:last-child {
  margin-right: 0; 
}

.horizontalnavigation li a {
  color: white; 
  text-decoration: none; 
  padding: 10px;
}

.horizontalnavigation li a:hover {
  text-decoration: underline; 
}

main p {
  text-align: center; 
}

footer {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto 0; 
}

footer a {
  color: white; 
  text-decoration: none; 
  padding: 10px;
}

footer a:hover {
  text-decoration: underline; 
}

footer a + a {
  margin-left: 20px; 
}
